[manifest]
version = "1.0.0"
dump_lua = true
priority = -10


# Most (if not all) code taken from the WIP Quantum Ranks commit on Steamodded.
# Link is here: https://github.com/Steamodded/smods/pull/838
# This file will be deleted and replaced with a hook once it is merged.
# GOD i love regex: (context.\S+):is_rank\((\S+),\s(\S+)\) , (context.\S+):is_ranks\((\{.+\}),\s(\S+)\)


# Sixth Sense
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
            if self.ability.name == 'Sixth Sense' and #context.full_hand == 1 and context.full_hand[1]:get_id() == 6 and G.GAME.current_round.hands_played == 0 then'''
position = "at"
match_indent = false
payload = '''
            if self.ability.name == 'Sixth Sense' and #context.full_hand == 1 and CARDMERGE.HasRank(context.full_hand[1], 6) and G.GAME.current_round.hands_played == 0 then'''


# Mail-In Rebate
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
            context.other_card:get_id() == G.GAME.current_round.mail_card.id then'''
position = "at"
match_indent = false
payload = '''
            CARDMERGE.HasRank(context.other_card, G.GAME.current_round.mail_card.id) then'''


# Hit the Road
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''context.other_card:get_id() == 11 and not context.blueprint then'''
position = "at"
match_indent = true
payload = '''CARDMERGE.HasRank(context.other_card, 11) and not context.blueprint then'''


# Wee Joker
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''context.other_card:get_id() == 2 and not context.blueprint then'''
position = "at"
match_indent = true
payload = '''CARDMERGE.HasRank(context.other_card, 2) and not context.blueprint then'''


# 8 Ball
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
                    if (context.other_card:get_id() == 8) and (pseudorandom('8ball') < G.GAME.probabilities.normal/self.ability.extra) then''' # This gets injected before listed_probabilities.toml
position = "at"
match_indent = false
payload = '''
                    if (CARDMERGE.HasRank(context.other_card, 8) and (pseudorandom('8ball') < G.GAME.probabilities.normal/self.ability.extra)) then''' 


# The Idol
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
                    context.other_card:get_id() == G.GAME.current_round.idol_card.id and '''
position = "at"
match_indent = false
payload = '''
                    CARDMERGE.HasRank(context.other_card, G.GAME.current_round.idol_card.id) and '''


# Scholar
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
                    context.other_card:get_id() == 14 then'''
position = "at"
match_indent = false
payload = '''
                    CARDMERGE.HasRank(context.other_card, 14) then'''


# Walkie Talkie
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
                (context.other_card:get_id() == 10 or context.other_card:get_id() == 4) then'''
position = "at"
match_indent = false
payload = '''
                CARDMERGE.HasRanks(context.other_card, {10, 4}) then'''


# Fibonacci
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if self.ability.name == 'Fibonacci' and (
                context.other_card:get_id() == 2 or 
                context.other_card:get_id() == 3 or 
                context.other_card:get_id() == 5 or 
                context.other_card:get_id() == 8 or 
                context.other_card:get_id() == 14) then
                    return {
                        mult = self.ability.extra,
                        card = self
                    }
                end
'''
position = "at"
match_indent = true
payload = '''
if self.ability.name == 'Fibonacci' and 
    CARDMERGE.HasRanks(context.other_card, {2, 3, 5, 8, 14}) then
        return {
            mult = self.ability.extra,
            card = self
        }
    end
'''

# Triboulet
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
                    (context.other_card:get_id() == 12 or context.other_card:get_id() == 13) then'''
position = "at"
match_indent = false
payload = '''
                    CARDMERGE.HasRanks(context.other_card, {12, 13}) then'''


# Shoot the Moon
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
                        context.other_card:get_id() == 12 then'''
position = "at"
match_indent = false
payload = '''
                        CARDMERGE.HasRank(context.other_card, 12) then'''


# Baron
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
                        context.other_card:get_id() == 13 then'''
position = "at"
match_indent = false
payload = '''
                        CARDMERGE.HasRank(context.other_card, 13) then'''



# Hack
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if self.ability.name == 'Hack' and (
                context.other_card:get_id() == 2 or 
                context.other_card:get_id() == 3 or 
                context.other_card:get_id() == 4 or 
                context.other_card:get_id() == 5) then
                    return {
                        message = localize('k_again_ex'),
                        repetitions = self.ability.extra,
                        card = self
                    }
                end
'''
position = "at"
match_indent = true
payload = '''
if self.ability.name == 'Hack' and 
    CARDMERGE.HasRanks(context.other_card, {2, 3, 4, 5}) then
        return {
            message = localize('k_again_ex'),
            repetitions = self.ability.extra,
            card = self
        }
    end
'''


# Superposition
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
                                if context.scoring_hand[i]:get_id() == 14 then aces = aces + 1 end'''
position = "at"
match_indent = false
payload = '''
                                if CARDMERGE.HasRank(context.scoring_hand[i], 14) then aces = aces + 1 end'''


# Even Steven and Odd Todd
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if self.ability.name == 'Even Steven' and
context.other_card:get_id() <= 10 and 
context.other_card:get_id() >= 0 and
context.other_card:get_id()%2 == 0
then
    return {
        mult = self.ability.extra,
        card = self
    }
end
if self.ability.name == 'Odd Todd' and
((context.other_card:get_id() <= 10 and 
context.other_card:get_id() >= 0 and
context.other_card:get_id()%2 == 1) or
(context.other_card:get_id() == 14))
then
    return {
        chips = self.ability.extra,
        card = self
    }
end
'''
position = "at"
match_indent = true
payload = '''
if self.ability.name == 'Even Steven' and
CARDMERGE.HasRanks(context.other_card, {2, 4, 6, 8, 10})
then
    return {
        mult = self.ability.extra,
        card = self
    }
end
if self.ability.name == 'Odd Todd' and
CARDMERGE.HasRanks(context.other_card, {3, 5, 7, 9, 14})
then
    return {
        chips = self.ability.extra,
        card = self
    }
end
'''